<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706892114240-qb18v8kk6ovbsjk7qqdcsvo0er4r3udp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706892114240-qb18v8kk6ovbsjk7qqdcsvo0er4r3udp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>706892114240-b36p6ctk4s33ahoj2i8blpvarv7tprrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfKBLI-1mBp1mb2Isrvb2j_Txb_Xn8mQs</string>
	<key>GCM_SENDER_ID</key>
	<string>706892114240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userBuddies.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>new-firebase-setup-e0f49</string>
	<key>STORAGE_BUCKET</key>
	<string>new-firebase-setup-e0f49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706892114240:ios:b1df4e8a4b8b061f7cf2a5</string>
</dict>
</plist>